<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(Shared.MainLayout)">
                <NotAuthorized>
                    <Employee.Client.Shared.RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Shared.MainLayout)">
                <p role="alert">Sorry, the page you requested was not found.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>